.splash .logo {
    
    height: 600px;
    width: 300px;
  }
  
  .splash .logo img {
    height: 300px;
   padding-left: 200px;
  width: 300px;
  padding-top: 100px;
  }
  .loginHeader>div {
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    padding: 20px 30px 10px 30px;
    border-radius: 0 0 8px 8px;
    margin: -10px 10px 0 0;
    will-change: transform;
    transition: transform 250ms;
  }
  
  .loginHeader>div:hover {
    transform: translateY(4px);
    box-shadow: 0 4px 8px #ffffa2;
  }
  .loginHeader .loggedOut {
    background-color: rgb(77, 3, 77);
    text-shadow: -1px -1px 2px black;
  }
  .splash .hero #big {
    margin: 20px 40px 20px 40px;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
    background-color: rgb(77, 3, 77) ;
    color:#ffffa2;
    border: 7px outset rgb(77, 3, 77);
    border-radius: 20px;
    box-shadow: 0 0 4px darkcyan;
    filter: drop-shadow(10px 4px 4px darkcyan);
  }
  .channels-container {
    display: flex;
    flex-direction: row;
  }
  
  .channels {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: rgb(77, 3, 77);
    color: #ffffa2;
    
  }
  a, a:link {
    text-decoration: none;
    color:#ffffa2
  }
  a, a:visited {
    text-decoration: none;
    color:#ffffa2
  }
  .messages {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 5px;
    margin-left: 5px;
  }
  .selected {
    background-color: rgb(209, 102, 120);
    color: black;
  }
  .plus {
    display:inline-block;
    width:30px;
    height:30px;
    
    background:
      linear-gradient(#fff 0 0),
      linear-gradient(#fff 0 0),
      #000;
    background-position:center;
    background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
  }

  .add-channel{
    background:plum ;
    color: #ffffa2;
    text-align: center;
    align-items: center;
  }
  .channels h3:hover {
    background-color: rgb(139, 16, 139); /* change to desired color */
  }
  
  .channels a {
    position: relative;
  }
  
  .channels a .unread-count {
    position: absolute;
    top: 0px;
    right: -30px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
  }